.kanbanScrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, 0.5) transparent;
  overflow-y: auto;
}
.kanbanScrollbar::-webkit-scrollbar {
  width: 6px;
}
.kanbanScrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.kanbanScrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
  opacity: 0;
  transition: opacity 0.3s;
}
.kanbanScrollbar:hover::-webkit-scrollbar-thumb {
  opacity: 1;
}
